.movies, .movie {
	 margin: 0;
	 padding-left: 0;
}
 
.movie-keyart {
	 display: inline-block;
	 margin: 0 0.3em 0 0;
	 padding: 0;
	 vertical-align: top;
 }
 
 .movie-keyart img {
	 width: 6em;
 }
 
 .movie-main {
	 display: inline-block;
	 margin: 0 0.3em;
	 vertical-align: top;
	 width: 28em;
 }
 .movie {
	 list-style-type: none;
	 padding: 0.3em 0;
 }
 
 .movie-title {
	 display: inline-block;
	 font-size: 2em;
	 margin: 0 0 0.3em;
	 padding: 0;
	 text-transform: capitalize;
	 width: 12em;
 }
 
 .movie-rating {
	 background-color: gray;
	 border-radius: 0.3em;
	 color: white;
	 display: inline-block;
	 float: right;
	 font-weight: bold;
	 line-height: 2em;
	 padding: 0 1em;
	 text-align: center;
	 text-transform: uppercase;
	 width: 1.4em;
 }
 
 .movie-queue {
	 cursor: pointer;
	 display: block;
	 padding: 0.5em 1.2em;
 }
 .queued {
	 background-color: orange;
 }
 .dequeued {
	 background-color: green;
	 color: white;
 }
 
 .movie-aside {
	 display: inline-block;
	 margin: 0 0 0 1em;
	 vertical-align: top;
 }
 .movie-aside dl {
	 padding: 2em 0 0;
 }
 .movie-aside dt {
	 font-weight: bold;
 }
 .movie-aside dd {
	 margin: 0 0 0.3em;
 }
 
 .pagination {
	 margin: 0;
	 padding: 0;
 }
 .pagination > li {
	 display: inline;
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
 }
 .pagination .current {
	 font-weight: bold;
 }
 
 .search {
	 text-align: center;
 }
 
 .sorting {
	 float: right;
 }