<my-movies>
  
  <div class="search">
    <label for="search">Search: 
      <input type="text" name="search" oninput={ filter }>
    </label>
  </div>
  
  <hr>
  
  <span class="item-counts">
    { itemStart() } - { itemEnd() } of { movies().length }</span>
  
  
  <label class="sorting" for="_sortBy">Sort By: 
    <select name="_sortBy" onchange={ sortBy }>
      <option value="title" selected>Title</option>
      <option value="date">Date</option>
    </select>
    <a href="javascript:void(0)" onclick={ sortAs }>
      { _sortAs ? '&#x25b2' : '&#x25bc' }
    </a>
  </label>
    
  
  <hr>
  
  <ol class="movies">
    <li class="movie" each={ pageItems() }>
      <figure class="movie-keyart">
        <img src={ image }>
      </figure>
      <div class="movie-main">
        <h1 class="movie-title" onclick="{ defer(alert, this) }"> 
          { title }
        </h1>
        <span class="movie-rating">{ rating }</span>
        <button class="movie-queue queued" show={ watch_list } onclick={ dequeue }>
          In Watchlist
        </button>
        <button class="movie-queue dequeued" hide={ watch_list } onclick={ queue }>
          Add to Watchlist
        </button>
      </div>
      <dl class="movie-aside">
        <dt>Release Date</dt>
        <dd>{ releaseDate(date) }</dd>
        <dt>Run Time</dt>
        <dd>{ runTime(run_time) }</dd>
      </dl>
    </li>
  </ol>

  <hr>
  
  <ul class="pagination">
    <li>
      <a href="javascript:void(0)"
        onclick={ goBack } 
        class={ disabled: _page == 1, previous-link: true }>Previous</a> 
    </li>
    <li each={ pageNumbers() } class={ current: num == _page }> 
      <a href="javascript:void(0)" onclick={ goTo }> { num } </a>
    </li>
    <li>
      <a href="javascript:void(0)"
        onclick={ goNext } 
        class={ disabled: _page == pages(), next-link: true }>Next</a>
    </li>
  </ul>
  
  <script>

    this._filter = ''
    this._sortBy = 'title'
    this._sortAs = true // a > b == asc
    
    this._perPage = 3
    this._page = 1
    
    opts.movies.map(function(movie) {
      movie.watch_list = false;
    })
    
    itemStart() {
      return (this._page - 1) * this._perPage + 1
    }
    
    itemEnd() {
      var start = this.itemStart();
      var left = this.movies().length - start;
      if (left < this._perPage) {
        return start + left;
      }  else {
        return start + this._perPage - 1;
      }
    }
    
    queue(e) {
      e.item.watch_list = true;
    }
    
    dequeue(e) {
      e.item.watch_list = false;
    }
    
    pageNumbers() {
      var nums = [];
      for (var i = 0; i < this.pages(); i++)
        nums.push({ num: i + 1})
      return nums; 
    }
    
    goTo(e) {
      this._page = e.item.num
    }
    
    goBack(e) {
      if (this._page > 1) this._page--
      else e.preventUpdate = true
    }
    
    goNext(e) {
      if (this._page < this.pages()) this._page++
      else e.preventUpdate = true
    }
    
    pages() {
      return Math.ceil(this.movies().length / this._perPage)
    }
    
    pageItems() {
      var startIndex = (this._page - 1) * this._perPage;
      var stopIndex = startIndex + this._perPage
      return this.movies().slice(
        startIndex, 
        stopIndex
      )
    }
    
    filter(e) {
      this._filter = e.target.value
    }
    
    sortBy(e) {
      this._sortBy = e.target.value
    }
    
    sortAs(e) {
      this._sortAs =! this._sortAs
    }
    
    movies() {  
      var filt   = this._filter.toLowerCase(), 
          sortAs = this._sortAs,
          sortBy = this._sortBy,
          title
          
      return opts.movies.filter(
        function(movie) {
          title = movie.title.toLowerCase()
          return title.indexOf(filt) >= 0 
        }
      ).sort(
        function(movie1, movie2) {
          var a = movie1[sortBy].toLowerCase()
          var b = movie2[sortBy].toLowerCase()
          if ((a > b) == sortAs) return 1
          if ((a < b) == sortAs) return -1
          return 0
        }
      )
    }
    
    releaseDate(dateStr) {
      var date = new Date(dateStr);
      return [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
      ][ date.getMonth() - 1 ] + ' ' + date.getDate() + ', ' + date.getFullYear()
    }
    
    runTime(runTime) {
      var hours = Math.floor(runTime / 3600)
      var minutes = Math.ceil((runTime % 3600) / 60)
      return hours + 'hr' + (hours > 1 ? 's' : '') +
             ' ' + minutes + 'min' + (minutes > 1 ? 's' : '')
    }
    
    this.on('update', function() {
      if (this._page > this.pages()) {
        this._page = 1;
      }
    })
    
  </script>
  
  <style>
    
    my-movies {
      font-family: sans-serif;
    }
    
    my-movies a:link, 
    my-movies a:visited {
      text-decoration: none;
    }
    
    my-movies input[type="text"] {
      padding: 0.3em; 0.5em; 
      width: 80%;
    }
    
    my-movies {
      display: block;
      margin: 0 auto;
      width: 720px;
    }
    
  </style>

</my-movies>
